/* body{
    background-image: url("../images/PS.jpg");
    background-size:inherit;
    background-position:l
} */

body{
    background-color: lightblue;
}

ul{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

li{
    list-style-type:none;
}

a{
    color:black;
    text-decoration: none;
    font-size: 22px;
}

#current{
    font-size: 24px;
    color: #0a42ba;
}

header{
    background-color:cadetblue;
    height: 60px;
}

p{
    font-size: 20px;
    display: inline;
}

#mainImage{
    width: 100%;
    border-radius: 10px;
}

footer{
    background-color:cadetblue;
    height: 60px;
    padding-top: .5px;
    box-sizing: border-box;
}

#likeGalleryDiv{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 50px;
    padding: 30px;
}

#likeGalleryDiv div:nth-child(2n) .gameName{
    border: 5px solid gold;
    border-radius: 5px;
    padding: 3px;
    display: block;
    margin: 0;
}

div img:hover{
    transform: scale(1.05);
}

div .gameName{
    text-align: center;
    font-weight: bold;
}

#likeGalleryDiv div{
    text-align: center;
}

img{
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;

    transition-duration: .5s;
    transition-property: transform;
    transition-timing-function: ease;
}



#dislikeGalleryDiv{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
#dislikeGalleryDiv div{
    text-align: center;
}